<h1>Hello, World!</h1>
<p>If you're seeing this, it means that you've got git, ruby, bundler, and sqlite working properly. Nice job!</p>
<p>Here is some example dynamic content:    <%= image_tag uploaded_img["small_thumbnail"] %>
<p>You can see an example of using a loop in an ERB file at <a href="/99bottles">/99bottles</a></p>
